.logo {
  margin-top: 130px;
  margin-bottom: 25px;
}

.btn {
  margin: 10px 0 !important;
  background-color: #332b10;
  color: #fff;
  border: 0;
  border-radius: 0;
  &:hover, &:active, &:focus, &:visited {
    color: #fff;
    background-color: #000;
  }

  &.btn-default {
    margin: 0 !important;
    width: 100%;
    padding: 0;
  }
}

.form-control {
  border-radius: 0 !important;
}

.navbar {
  .nav {
    &:hover, &:active {
      background-color: none;
    }
  }
  .logo {
    width: 100px;
  }
}

.no-padding {
  padding: 0;
}

.no-padding-right {
  padding-right: 0;
}

label {
  font-weight: normal;
}

.margin-top-10 {
  margin-top: 10px;
}
