.sidebar {
  background-color: $dark;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
  ul {
    li {
      padding: 10px;
    }
  }
  .logo {
    margin: 0;
    margin-top: 10px;
    img {
      width: 70%;
      color: $yellow;
    }
  }
  a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: $yellow;
    color: $dark;
    a {
      color: $dark;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
.main {
  margin-left: 115px;
  margin-top: 5px;  
}
.answer-group {
  margin-bottom: 5px !important;
}

.upload-image {
  padding: 13px !important;
}

.remove-answer {
  color: $dark;
}


.questions-list {
  .entry {
    padding: 10px;
    margin: 5px;
    color: #fff;
  }
  .active {
    background-color: $green;
  }

  .inactive {
    background-color: $dark;
  }
  .capitalize {
    text-transform: uppercase;
  }
}

.answer-list {
  margin-top: 40px;
  margin-bottom: 40px;

  img {
    width: 100%;
  }
}
